@media screen and (max-width: 1441px) {
  .footerInfoBlock #paymentOptions ul li img {
    width: 45px;
  }
  body main #shopHolder #shopMain {
    width: 100%;
  }
  body main #contactHolder #contactMain #contactSidePanel {
    width: 25%;
  }
  body main #contactHolder #contactMain #contactInputPanel {
    width: 72%;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody {
    width: 100%;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td #inputMessageHolder #messageInput {
    min-width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1025px) {
  .mainBlock {
    width: 90%;
  }
  .whyUsItem {
    padding: 5px;
  }
  .whyUsItem .whyUsItem-Icon {
    font-size: 45px;
  }
  .whyUsItem .whyUsItem-text {
    padding: 0px;
  }
  .whyUsItem .whyUsItem-text h5 {
    font-size: 17px;
  }
  .whyUsItem .whyUsItem-text p {
    font-size: 11px;
  }
  .footerInfoBlock {
    width: 24%;
  }
  .footerInfoBlock #paymentOptions ul li img {
    width: 40px;
  }
  .shopProduct .productBody .productName {
    font-size: 13px;
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
  }
  .shopProduct .productBody .productBrand {
    font-size: 12px;
  }
  .shopProduct .productBody .productPrices .currentPrice {
    font-size: 17px;
  }
  .shopProduct .productBody .productPrices .oldPrice {
    font-size: 11px;
  }
  .shopProduct .productBody .productRating i {
    font-size: 14px;
  }
  .filterBlock .filterHead h3 {
    font-size: 17px;
  }
  .filterBlock .filterHead .filterHeadUnderline {
    height: 2px;
  }
  .filterBlock .filterBody .filterCheckDevices label {
    font-size: 16px;
  }
  .inputHelp {
    font-size: 14px;
  }
  body header #logo h1 {
    font-size: 35px;
  }
  body main #standardHeader {
    height: 200px;
  }
  body main #standardHeader #standardHeaderLeft {
    width: 60%;
  }
  body main #standardHeader #standardHeaderLeft h2 {
    font-size: 27px;
  }
  body main #standardHeader #standardHeaderRight {
    width: 40%;
  }
  body main #mainBanner #bannerUI #bannerHeading {
    width: 65%;
  }
  body main #mainBanner #bannerUI #bannerHeading h2 {
    font-size: 27px;
  }
  body main #mainBanner #bannerUI #bannerControl #bannerButton i {
    font-size: 18px;
  }
  body main #mainBanner #bannerUI #bannerControl #bannerButton p {
    font-size: 14px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left #newsLetter-subscribe #newsLetter-heading h4 {
    font-size: 25px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left #newsLetter-subscribe #newsLetter-heading h5 {
    font-size: 22px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left #newsLetter-subscribe #newsLetter-email form #inputEmail {
    padding: 10px 25px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left #newsLetter-subscribe #newsLetter-email form #inputEmail #newsLetterEmail {
    font-size: 17px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left #newsLetter-subscribe #newsLetter-email form #inputEmail i {
    font-size: 26px;
  }
  body main #newsLetter #newsLetter-back #newsLetter-right img {
    width: 75%;
  }
  body main #whyUs #whyUsSeparator {
    margin: 0px 5px;
  }
  body main #shopHolder #shopMain #shopLeftSB #filterForm #filterSearch #inputSearch {
    font-size: 14px;
  }
  body main #shopHolder #shopMain #shopLeftSB #filterForm #filterSearch #startSearchBtn {
    font-size: 19px;
  }
  body main #shopHolder #shopMain #shopLeftSB #filterForm #filterChooseBrand li {
    font-size: 16px;
  }
  body main #shopHolder #shopMain #shopLeftSB #filterForm #filterPriceControls #minPriceBox p, body main #shopHolder #shopMain #shopLeftSB #filterForm #filterPriceControls #maxPriceBox p {
    font-size: 17px;
  }
  body main #shopHolder #shopMain #shopLeftSB #filterForm #filterSale li {
    font-size: 16px;
  }
  body main #shopHolder #shopMain #shopRightSB #shopSortControls #layoutCtrl i {
    font-size: 23px;
  }
  body main #shopHolder #shopMain #shopRightSB #shopSortControls #layoutCtrl p {
    font-size: 16px;
  }
  body main #shopHolder #shopMain #shopRightSB #shopSortControls #sortCtrl form label {
    font-size: 16px;
  }
  body main #shopHolder #shopMain #shopRightSB #shopSortControls #sortCtrl form select {
    font-size: 14px;
  }
  body main #contactHolder #contactMain #contactInputPanel h2 {
    font-size: 24px;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td label {
    font-size: 18px;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td input, body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td textarea {
    font-size: 18px;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td #inputButtonsHolder #submitButton, body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td #inputButtonsHolder #resetButton {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 4px 15px;
  }
  body main #aboutAuthorHolder #authorMain #authorMainText p {
    font-size: 19px;
  }
  body main #aboutAuthorHolder #authorMain #authorMainPortrait img {
    height: 570px;
  }
  body main #regFormHolder #registerMain #loginSection, body main #regFormHolder #registerMain #registrationSection {
    width: 52%;
  }
  body main #regFormHolder #registerMain #loginSection {
    height: 40vh;
  }
  body main #regFormHolder #registerMain #registrationSection {
    height: 70vh;
  }
  body main #cartHolder #cartMain #cartTableHolder table thead tr th {
    font-size: 15px;
  }
  body main #cartHolder #cartMain #cartTableHolder table #cartBody tr td {
    padding: 10px 5px;
  }
  body main #cartHolder #cartMain #cartTableHolder table #cartBody tr td p {
    font-size: 14px;
  }
  body main #cartHolder #cartMain #cartTableHolder table #cartBody tr td i {
    font-size: 24px;
  }
  body main #cartHolder #cartMain #cartPanel #discountCodeSection #discountForm {
    padding: 5px;
  }
  body main #cartHolder #cartMain #cartPanel #discountCodeSection #discountForm #discountInput {
    font-size: 16px;
  }
  body main #cartHolder #cartMain #cartPanel #discountCodeSection #discountForm #applyDiscountButton p {
    font-size: 17px;
  }
  body main #cartHolder #cartMain #cartPanel #totalSection h4 {
    font-size: 15px;
  }
  body main #cartHolder #cartMain #cartPanel #totalSection p {
    font-size: 14px;
  }
  body main #cartHolder #cartMain #cartPanel #orderSection #loginTip {
    font-size: 14px;
  }
  body main #cartHolder #cartMain #cartPanel #orderSection #checkoutFormButton p {
    font-size: 12px;
  }
  body footer #footerHolder {
    width: 100%;
    margin-top: 60px;
  }
  body footer #footerHolder #footerInfo {
    justify-content: space-evenly;
  }
  body footer #footerHolder #footerEnd {
    margin: 20px 0px;
  }
}
@media screen and (max-width: 769px) {
  .whyUsItem {
    width: 35%;
  }
  .whyUsSeparator {
    display: none;
  }
  .footerInfoBlock {
    width: 50%;
  }
  .offerObject {
    text-align: center;
  }
  .offerObject:nth-child(1) {
    grid-area: left;
  }
  .offerObject:nth-child(2) {
    grid-area: center;
  }
  .offerObject:nth-child(3) {
    grid-area: right;
  }
  .filterBlock {
    margin: 10px 0px;
  }
  body header {
    justify-content: space-between;
  }
  body header #desktop-nav {
    display: none;
  }
  body header #navOptions div {
    font-size: 37px;
  }
  body header #navOptions #hamburgerMenu {
    display: flex;
  }
  body main #specialOffers {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: "left right" "center center";
  }
  body main #specialOffers img {
    width: 70%;
  }
  body main #whyUs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  body main #standardHeader #standardHeaderLeft {
    padding: 70px 100px;
  }
  body main #shopHolder #shopMain {
    flex-direction: column;
  }
  body main #shopHolder #shopMain #shopLeftSB, body main #shopHolder #shopMain #shopRightSB {
    width: 100%;
  }
  body main #contactHolder #contactMain {
    flex-direction: column-reverse;
  }
  body main #contactHolder #contactMain #contactSidePanel, body main #contactHolder #contactMain #contactInputPanel {
    width: 100%;
  }
  body main #aboutAuthorHolder #authorMain #authorMainText {
    padding: 50px 0px;
  }
  body main #aboutAuthorHolder #authorMain #authorMainPortrait img {
    height: 470px;
  }
  body main #regFormHolder #registerMain #loginSection, body main #regFormHolder #registerMain #registrationSection {
    width: 70%;
  }
  body main #regFormHolder #registerMain #loginSection #loginForm #logEmail, body main #regFormHolder #registerMain #loginSection #loginForm #logPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regUsername, body main #regFormHolder #registerMain #loginSection #loginForm #regEmail, body main #regFormHolder #registerMain #loginSection #loginForm #regPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regRepeatPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regDateOfBirth, body main #regFormHolder #registerMain #loginSection #registerForm #logEmail, body main #regFormHolder #registerMain #loginSection #registerForm #logPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regUsername, body main #regFormHolder #registerMain #loginSection #registerForm #regEmail, body main #regFormHolder #registerMain #loginSection #registerForm #regPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regRepeatPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regDateOfBirth, body main #regFormHolder #registerMain #registrationSection #loginForm #logEmail, body main #regFormHolder #registerMain #registrationSection #loginForm #logPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regUsername, body main #regFormHolder #registerMain #registrationSection #loginForm #regEmail, body main #regFormHolder #registerMain #registrationSection #loginForm #regPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regRepeatPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regDateOfBirth, body main #regFormHolder #registerMain #registrationSection #registerForm #logEmail, body main #regFormHolder #registerMain #registrationSection #registerForm #logPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regUsername, body main #regFormHolder #registerMain #registrationSection #registerForm #regEmail, body main #regFormHolder #registerMain #registrationSection #registerForm #regPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regRepeatPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regDateOfBirth {
    width: 80%;
  }
  body main #cartHolder #cartMain {
    flex-direction: column;
  }
  body main #cartHolder #cartMain #cartTableHolder, body main #cartHolder #cartMain #cartPanel {
    width: 100%;
  }
  body main #cartHolder #cartMain #cartTableHolder #emptyCartMessage, body main #cartHolder #cartMain #cartPanel #emptyCartMessage {
    margin: 100px 0px;
  }
  body footer #footerHolder #footerInfo {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .mainBlock {
    width: 100%;
  }
  .whyUsItem {
    width: 80%;
  }
  .shopProduct {
    width: 48%;
  }
  .shopProduct .productBody .productName {
    font-size: 15px;
    height: 45px;
  }
  .shopProduct .productBody .productBrand {
    font-size: 14px;
  }
  .shopProduct .productBody .productPrices .currentPrice {
    font-size: 19px;
  }
  .shopProduct .productBody .productPrices .oldPrice {
    font-size: 14px;
  }
  .shopProduct .productBody .productRating i {
    font-size: 15px;
  }
  body header {
    padding: 25px 10px;
  }
  body header #phoneSideMenu {
    width: 70%;
  }
  body main #mainBanner .pictureCarousel {
    width: 100%;
  }
  body main #mainBanner .pictureCarousel div {
    width: 100%;
  }
  body main #mainBanner #bannerUI {
    bottom: 0;
    width: 300px;
    padding-bottom: 50px;
    padding-left: 10px;
  }
  body main #mainBanner #bannerUI #bannerHeading h2 {
    font-size: 25px;
  }
  body main #mainBanner #bannerUI #bannerControl {
    display: none;
  }
  body main #specialOffers {
    grid-gap: 10px;
  }
  body main #specialOffers img {
    width: 90%;
  }
  body main #newsLetter #newsLetter-back {
    flex-direction: column-reverse;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left, body main #newsLetter #newsLetter-back #newsLetter-right {
    width: 100%;
  }
  body main #newsLetter #newsLetter-back #newsLetter-right {
    justify-content: center;
  }
  body main #newsLetter #newsLetter-back #newsLetter-left {
    text-align: center;
  }
  body main #standardHeader #standardHeaderLeft {
    padding: 50px 2px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  body main #standardHeader #standardHeaderRight {
    width: 56%;
    background-position: center;
  }
  body main #shopHolder #shopMain {
    flex-direction: column;
  }
  body main #shopHolder #shopMain #shopLeftSB, body main #shopHolder #shopMain #shopRightSB {
    width: 100%;
  }
  body main #shopHolder #shopMain #shopRightSB #shopProductsHolder {
    justify-content: center;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr {
    display: flex;
    flex-direction: column;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td {
    width: 100%;
  }
  body main #contactHolder #contactMain #contactInputPanel #contactForm table tbody tr td #inputButtonsHolder {
    flex-direction: column;
    align-items: flex-end;
  }
  body main #contactHolder #contactMain {
    flex-direction: column-reverse;
  }
  body main #contactHolder #contactMain #contactSidePanel, body main #contactHolder #contactMain #contactInputPanel {
    width: 100%;
  }
  body main #aboutAuthorHolder #authorMain {
    flex-direction: column-reverse;
  }
  body main #aboutAuthorHolder #authorMain #authorMainText {
    width: 100%;
  }
  body main #regFormHolder #registerMain #loginSection, body main #regFormHolder #registerMain #registrationSection {
    width: 90%;
  }
  body main #regFormHolder #registerMain #loginSection #loginForm #logEmail, body main #regFormHolder #registerMain #loginSection #loginForm #logPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regUsername, body main #regFormHolder #registerMain #loginSection #loginForm #regEmail, body main #regFormHolder #registerMain #loginSection #loginForm #regPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regRepeatPassword, body main #regFormHolder #registerMain #loginSection #loginForm #regDateOfBirth, body main #regFormHolder #registerMain #loginSection #registerForm #logEmail, body main #regFormHolder #registerMain #loginSection #registerForm #logPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regUsername, body main #regFormHolder #registerMain #loginSection #registerForm #regEmail, body main #regFormHolder #registerMain #loginSection #registerForm #regPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regRepeatPassword, body main #regFormHolder #registerMain #loginSection #registerForm #regDateOfBirth, body main #regFormHolder #registerMain #registrationSection #loginForm #logEmail, body main #regFormHolder #registerMain #registrationSection #loginForm #logPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regUsername, body main #regFormHolder #registerMain #registrationSection #loginForm #regEmail, body main #regFormHolder #registerMain #registrationSection #loginForm #regPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regRepeatPassword, body main #regFormHolder #registerMain #registrationSection #loginForm #regDateOfBirth, body main #regFormHolder #registerMain #registrationSection #registerForm #logEmail, body main #regFormHolder #registerMain #registrationSection #registerForm #logPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regUsername, body main #regFormHolder #registerMain #registrationSection #registerForm #regEmail, body main #regFormHolder #registerMain #registrationSection #registerForm #regPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regRepeatPassword, body main #regFormHolder #registerMain #registrationSection #registerForm #regDateOfBirth {
    width: 90%;
  }
}/*# sourceMappingURL=responsive.css.map */